.cella{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    box-shadow: 0 0 0 2px;
    font-size: 50px;
    cursor: pointer;
}

.cellak{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

.jatekTer{
    text-align: center;
    font-family: "Permanent Marker", cursive;
}

.cella p{
    margin: 0;
    padding: 0;
}